@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-chango: var(--font-chango);
  --font-montserrat: var(--font-montserrat);

  --color-green: #DCF581;
  --color-pink: #FAA092;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

h1 {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--color-neutral-900);
}

h2{
  font-family: var(--font-montserrat);
}

#clip-path-wrapper {
  clip-path: inset(20% 20% 20% 20% round 0%);
}
